select#comment_images_toggle,input#comment_image_toggle{width:100%}
p.comment-image-warning{text-align:center;margin:10px 0 10px 0;padding:10px;background-color:#fefbed;border-left:5px solid #f1e7bc}
p.comment-image-info{text-align:center;color:#3a87ad;margin:10px 0 10px 0;padding:10px;background-color:#d9edf7;border-left:5px solid #3a87ad}
